* {
  margin: 0;
  padding: 0;
}

#section1 {
  width: 30%;
  height: 100px;
  margin-top: 50px;
}
.tables {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid black;
  font-size: 13px;
  background-color: white;
}

/* .table1 {
  top: 30px;
  left: 31px;
} */

.table2 {
  top: 32px;
  left: 133px;
}

.table3 {
  top: 105px;
  left: 88px;
}

.table4 {
  top: 107px;
  left: 203px;
}

.table5 {
  top: 38px;
  left: 63px;
}

.table6 {
  top: 109px;
  left: 63px;
}

.table7 {
  top: 93px;
  left: 32px;
}

#p1{
  width: 260px;
  height: 160px;
}

#p2{
  width: 115px;
  height: 160px;
}

#p3{
  width: 164px;
  height: 150px;
}

.table8 {
  top: 95px;
  left: 111px;
}

#section2{
 
  margin-top: 50px;
}
form{
  width: 200px;
  margin-bottom: -40px;
}


#pop{
  width: 250px;
  text-align: center;
}

